/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    /* Now 1rem = 1em = 10px */

    overflow: hidden;
}

/**********************************************************
  Reset Default Properties End
**********************************************************/


/**********************************************************
  Variables Start
**********************************************************/
:root {
    --bg-color: #dff9fb;
    --balls-color: #130f40;
}

/**********************************************************
  Variables End
**********************************************************/


/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
}


/**********************************************************
  Box Start (Balls Container)
**********************************************************/
.box {
    padding: 0.5rem;
    border-bottom: 1rem solid var(--balls-color);
    border-radius: .5rem;
    animation: left-right 2.5s linear infinite alternate;
}

/**********************************************************
   Keyframes to Animate Box
**********************************************************/
@keyframes left-right {
    from {
        margin-left: -12rem;
    }

    to {
        margin-left: 12rem;
    }
}

.box ul {
    display: flex;
    gap: 1rem;
}

.box ul li {
    list-style-type: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--balls-color);
    animation: bounce 1.2s linear infinite;
}

.box ul li:nth-child(2) {
    animation-delay: .2s;
}

.box ul li:nth-child(3) {
    animation-delay: .4s;
}

.box ul li:nth-child(4) {
    animation-delay: .6s;
}

.box ul li:nth-child(5) {
    animation-delay: .8s;
}

.box ul li:nth-child(6) {
    animation-delay: 1s;
}

/**********************************************************
   Keyframes to Animate Balls
**********************************************************/
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10rem);

    }

    100% {
        transform: translateY(0);

    }
}





/**********************************************************
   Media Queries Start
**********************************************************/
@media only screen and (min-width:1600px) {
    html {
        font-size: 75%;
    }
}


@media only screen and (max-width:400px) {
    html {
        font-size: 55%;
    }
}


/**********************************************************
   Media Queries End
**********************************************************/